---
import { ILine } from "../data/interface/ICode";
interface Props {
  line: ILine;
  index: number;
}
const { line, index } = Astro.props;
---

<li class="w-full flex min-h-fit items-center text-xs">
  <div class="min-w-8 text-left px-2 font-sans text-gray-200">
    {index + 1}
  </div>
  <div class="flex justify-between w-full items-center">
    <div class="h-full gap-x-1.5 py-1 flex flex-wrap px-4">
      {
        line.words.map((item) => (
          <span class={`${item.color} flex`}>
            {item.content === "tab" ? (
              <span class="ml-4" />
            ) : (
              <>
                {item.content}
                {item.complement && item.complement.map((comp)=>(
                  <span class={`${comp.color}`}>
                    {comp.content}
                  </span>
                ))}
              </>
            )}
          </span>
        ))
      }
    </div>
    {line.link && <a href={line.link} class="italic hover:text-amber-300 hover:underline">go to</a>}
  </div>
</li>
